*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveDownScale {
  0% {
    opacity: 0.2;
    transform: translateY(15rem) scale(0.5); }
  50% {
    opacity: 0.6;
    transform: translateY(7rem) scale(0.5); }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); } }

@keyframes moveBottomScale {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.ball {
  z-index: 2;
  position: absolute;
  margin-bottom: -20rem;
  border-radius: 100%;
  opacity: 0.5; }

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #457B9D;
  box-sizing: border-box; }

.heading {
  color: #F1FAEE;
  display: block;
  margin-bottom: 4rem;
  text-align: center;
  margin-left: -5rem; }
  .heading__main {
    text-transform: uppercase;
    text-align: center;
    color: #E63946;
    display: block;
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 5rem;
    margin-bottom: 0rem;
    margin-left: -3rem;
    animation: moveDown .5s ease-in;
    animation-delay: 1s; }
  .heading__sec {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 1rem; }
    .heading__sec-name {
      text-align: center;
      display: block;
      font-size: 5rem;
      font-weight: 700;
      letter-spacing: 1rem;
      color: #1D3557;
      margin-bottom: 1rem;
      animation: moveInRight .5s ease-in;
      animation-delay: 1s; }
    .heading__sec-comp {
      text-align: center;
      display: block;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 1rem;
      color: #E63946;
      margin-bottom: 2rem;
      animation: moveBottom .5s ease-in;
      animation-delay: 1s; }
  .heading__sub {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem; }

#nav {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 12rem;
  background-color: #fff;
  box-shadow: 0 2rem 1rem rgba(241, 250, 238, 0.3); }

.nav {
  position: relative; }
  .nav__logo {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    margin-left: 4rem;
    margin-top: 2rem;
    width: 20rem;
    height: auto; }
  .nav__box {
    z-index: 100;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 4rem; }
    .nav__box ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .nav__box ul li {
        float: left;
        margin-top: 2rem; }
        .nav__box ul li a {
          font-size: 2rem;
          font-weight: 300;
          letter-spacing: .25rem;
          color: #457B9D;
          text-transform: uppercase;
          text-decoration: none;
          padding: 1rem 2rem;
          margin-left: 2rem; }
          .nav__box ul li a:hover {
            background-color: #457B9D;
            color: #F1FAEE;
            border-radius: .5rem;
            font-weight: 300; }

.btn {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  color: #F1FAEE;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase; }
  .btn-red {
    background: #E63946; }
    .btn-red:hover {
      background: #db1c2a;
      transition: all 0.3s ease; }
    .btn-red:active {
      background: #8e121b; }
  .btn-blue-light {
    background: #A8DADC; }
    .btn-blue-light:hover {
      background: #8bced0;
      transition: all 0.3s ease; }
    .btn-blue-light:active {
      background: #4db3b7; }
  .btn-blue-dark {
    background: #1D3557; }
    .btn-blue-dark:hover {
      background: #132238;
      transition: all 0.3s ease; }
    .btn-blue-dark:active {
      background: black; }

.card {
  display: block;
  width: 75%;
  margin: 25% auto;
  height: 50vh;
  background-color: red; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 70%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 8rem; } }
    @media (max-width: 75em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-2-of-2 {
    width: 100vh; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 10;
  overflow: hidden; }
  .header__background {
    position: absolute;
    z-index: 0;
    opacity: 0.3;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right bottom, black, black), url(/img/header.jpg);
    background-blend-mode: saturation; }
  .header__animate-box {
    overflow: hidden; }
  .header--text-box {
    position: relative;
    z-index: 11;
    margin-top: 45%; }
  .header--avatar {
    position: absolute;
    z-index: 10; }
    .header--avatar-img {
      margin-top: 25%;
      margin-left: 5%;
      width: 60%;
      height: auto;
      animation: moveDownScale .5s ease-in;
      animation-delay: 1s; }

.section__main {
  height: auto;
  background-color: white; }
