// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// TEXT
$text-size: 1.6rem;

//COLORS
$color-main-1: #E63946;
$color-grad-1: #e71f2f;
$color-main-2: #F1FAEE;
$color-main-3: #A8DADC;
$color-main-4: #457B9D;
$color-main-5: #1D3557;

$color-white: #fff;
$color-gray: rgb(173, 173, 173);

// GRID
$grid-width: 114rem;
$gutter-vertical-big: 14rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

// TEXT
$text-size: 1.6rem;