
.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: $color-main-4;
    border: 1px solid $color-main-3;
    background: $color-white;
    transition: border .3s ease;
    &::placeholder {
        color: $color-main-4;
    }
    &:focus {
        outline: none;
        border-color: $color-main-5;
    }
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -10%);
}
.form-group {
    display: flex;
    width: 50%;
    height: auto;
    & > span,
    .form-field {
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: $color-main-4;
        background: $color-main-3;
        border: 1px solid $color-main-3;
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: $color-main-2;
            background: $color-main-5;
            border-color: $color-main-5;
        }
    }
}
