@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveDownScale {
    0% {
        opacity: 0.2;
        transform: translateY(15rem) scale(.5);
    }

    50% {
        opacity: 0.6;
        transform: translateY(7rem) scale(.5);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes moveBottomScale {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 1rem);
        transform: translate(0, 1rem);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

}
 
.ball {
    z-index: 2;
    position: absolute;
    margin-bottom: -20rem;
    border-radius: 100%;
    opacity: 0.5;
  }
