.margin-big {
    margin: 0 25%;
}

.padding-top--medium {
    padding-top: 2rem;
}

.margin-bottom--minus--big {
    margin-bottom: -4rem;
}
.margin-top--minus--big {
    margin-top: -4rem;
}

.margin-down--small {
    margin-bottom: 2rem;
}

.font-thick {
    color: $color-main-1;
    font-weight: 700;
    font-size: 3rem;
}