.header {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: hidden;

    &__background {
        position: absolute;
        z-index: 0;
        opacity: 0.3;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(
                to right bottom,
                rgba(black,1),
                rgba(black,1)),
            url(/img/header.jpg);
        background-blend-mode: saturation;
    }
    
    &__animate-box {
        overflow: hidden;
    }

    &__scroll {
        display: block;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 4rem;

        ion-icon {
            animation: pulse 2s infinite;
            color: $color-main-1
        }

        &:hover {
            cursor: pointer;
        }

        
    }

    &--text-box {
        position: relative;
        z-index: 11;
        margin-top: 45%;
    }
    &--avatar {
        position: absolute;
        z-index: 10;
        &-img {
            margin-top: 25%;
            margin-left: 5%;
            width: 60%;
            height: auto;
        }
    }


}

.section__main {
    height: auto;
    background-color: white;
}
