.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba($color-main-3,.8),
            rgba($color-main-5,.8)),
        url(/img/header.jpg);
    overflow: hidden;
    
    &__animate-box {
        overflow: hidden;
    }

    &--text-box {
        margin-top: 45%;
    }
    &--avatar {
        position: absolute;
        z-index: 10;
        &-img {
            margin-top: 10%;
            margin-left: 5%;
            width: 60%;
            height: auto;
            //box-shadow: 1rem 2rem 4rem rgba($color-main-5, .1);

            animation: moveDownScale .5s ease-in;
            animation-delay: 1s;
        }
    }

}
