.header {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: hidden;

    &__background {
        position: absolute;
        z-index: 0;
        opacity: 0.3;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(
                to right bottom,
                rgba(black,1),
                rgba(black,1)),
            url(../img/header.jpg);
        background-blend-mode: saturation;

    }
    
    &__animate-box {
        overflow: hidden;
    }

    &__scroll {
        display: block;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 4rem;

        ion-icon {
            display: block;
            margin: 0 auto;
            margin-bottom: -3rem;
            -webkit-animation: pulse 2s infinite;
                    animation: pulse 2s infinite;
            color: $color-main-1
        }

        &:hover {
            cursor: pointer;
        }

        
    }

    &--text-box {
        position: relative;
        z-index: 11;
        margin-top: 45%;
    }
    &--avatar {
        position: absolute;
        z-index: 10;
        &-img {
            margin-top: 25%;
            margin-left: 5%;
            width: 60%;
            height: auto;
        }
    }


}

.section__main {
    height: auto;
    position: relative;

    &--background-1 {
        position: absolute;
        top: 30rem;
        left: 145rem;
        width: 40rem;
        height: 20rem;
        z-index: -1;
        background-image: radial-gradient($color-main-5 20%, transparent 20%),
                        radial-gradient($color-main-5 20%, transparent 20%);
        background-color: $color-white;
        background-position: 0 0, 5rem 5rem;
        background-size: 5rem 5rem;
    }

    &--background-2 {
        position: absolute;
        top: 12rem;
        left: 30rem;
        width: 20rem;
        height: 40rem;
        z-index: -1;
        background-image: radial-gradient($color-main-5 20%, transparent 20%),
                        radial-gradient($color-main-5 20%, transparent 20%);
        background-color: $color-white;
        background-position: 0 0, 5rem 5rem;
        background-size: 5rem 5rem;
    }

    &--background-3 {
        position: absolute;
        top: 72.5rem;
        left: 30rem;
        width: 40rem;
        height: 20rem;
        z-index: -1;
        background-image: radial-gradient($color-main-5 20%, transparent 20%),
                        radial-gradient($color-main-5 20%, transparent 20%);
        background-color: $color-white;
        background-position: 0 0, 5rem 5rem;
        background-size: 5rem 5rem;
    }

    &--background-4 {
        position: absolute;
        top: 80rem;
        left: 140rem;
        width: 20rem;
        height: 40rem;
        z-index: -1;
        background-image: radial-gradient($color-main-5 20%, transparent 20%),
                        radial-gradient($color-main-5 20%, transparent 20%);
        background-color: $color-white;
        background-position: 0 0, 5rem 5rem;
        background-size: 5rem 5rem;
    }

}

.section__services {
    margin-top: 5rem;
    width: 100%;
    height: 80vh;
    display: flex;

    &--box {
        width: 50%;
        position: relative;

        &-1 {
            background-color: $color-main-3;
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &--ul{
                width: 60%;
                list-style: none;
                text-decoration: none;
            }

            &--li {
                padding: 1rem;
                font-size: 1.5rem;
                color: $color-main-5;
            }
        }

        &-2 {
            position: relative;
            background-color: $color-white;   
            background: #F5F9FF;  
            .form-group {
                width: 60%;
                margin-right: 40rem;
                margin-bottom: 3rem;
            }
        }
    }
}

.whyme__box {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    z-index: 2;

    &--background {
        position: absolute;
        z-index: 0;
        height: 80vh;
        width: 100%;
        opacity: 0.2;
        background-image: linear-gradient(
            rgba(#000, 1),
            rgba(#000, 1)),
            url(../img/card3.jpg);
        background-size: cover;
        background-blend-mode: saturation;
        background-position: center;
    }

    &--1 {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--img {
            width: 60%;
            height: auto;
            border-radius: 100rem;
        }
    }

    &--2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        &--szufl--1 {
            display: flex;
            justify-content: center;
            color: $color-main-5;
            margin-top: -2rem;
        }

        &--szufl--2 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            &--1 {
                padding: 4rem;
                padding-left: 0;
                
                ion-icon {
                    font-size: 5rem;
                    color: $color-main-4;
                }
            }

            &--2 {
                display: block;
                width: 50%;
                height: auto;
                text-align: center;

                span {
                    color: $color-main-5;
                }
            }
        }
    }
}


.section__experience {
    width: 100%;
    height: 60vh;
    background-color: $color-main-2;
    padding-top: 1%;

    &--box {
        text-align: center;
    }
}